html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Fixed footer */
.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

/* Main content padding */
.main-content {
    padding-top: 70px; /* adjust based on header height */
    padding-bottom: 50px; /* adjust based on footer height */
}